*.egg-info
.idea/
__pycache__
*.pyc
*.so
scripts/data_prepare/data

#Megatron
megatron/fused_kernels/build/
evaluation_results/
merged_checkpoint/
*.ipynb
*.pth
*.pt
*.tar
*.out
*.log
*.pyc
core-*
output
output/
output*/
tensorboard/
save_model/
*.jsonl
*.json
*.xlsx
*.tsv
debug*/
language_evaluation
evalcap
.ipynb_checkpoints
dataset/*.bin
dataset/*.idx
test.ipynb
